@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

body {
  background-color: lightblue;
}
