@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

body {
  background-color: rgb(212, 212, 212);
}

/* button {
  height: 2rem;
  width: 6rem;
  border-radius: 8px;
  color: rgb(30, 220, 20);
  background-color: white;
  border: 2px solid rgb(30, 220, 20);
} */
button:hover {
  cursor: pointer;
}
button:disabled {
  color: rgba(169, 169, 169);
  background-color: rgba(211, 211, 211, 0.487);
  border: 2px solid rgba(169, 169, 169);
  cursor: not-allowed;
}
